:host {
  .legend {
    small {
      font-size: x-small;
    }
  }

  .file-table {
    font-size: small;
  }

  .file-actions {
    
  }
  
  .table {
	margin-bottom: 0;
  }
  
  .vg-elem-fix {
	align-items: center;
  }
  
  .vg-icon-play_arrow {
	font-size: 2rem;
  }
  
  .icon {
	font-size: 2rem;
  }
}
