.restrictionsFormCheck {
	margin-top: 12px;
    display: flex;
    align-items: center;
}

.restrictionsInput {
	height: 1.75em;
    width: 1.75em;
    margin: 0 8px 0 -1.5em;
}

.urlHeader {
	margin: 0 16px 0 0;
}

.urlHeaderDiv {
	display: flex;
    align-items: center;
    margin-bottom: 12px;
}