<c-card *ngIf="selectedRecipe">
	<c-card-body>
		<h5 cCardTitle>{{ selectedRecipe.title['de'] }}</h5> 
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			ID
		</h6>
		
		<p cCardText> 
			{{ selectedRecipe.id }}
		</p>
		<div cCardText class="urlHeaderDiv"> 
			<h6 cCardSubtitle class="urlHeader text-medium-emphasis">
				URL
			</h6>
		
			<button cButton (click)="parseURL()">
				{{ "RECIPES.PARSE_URL" | translate }}
			</button>
		</div>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge_full" color="secondary">
				<input cFormControl 
					(change)="changeURL($event)"
					style="margin-right: 8px;"
					id="exampleFormControlInput1" 
					type="text"
					value="{{selectedRecipe.url}}"
				/>
			</c-badge> 
			<label *ngIf="alreadySaved" style="color: red;"> {{ "RECIPES.ALREADY_SAVED" | translate }} </label> 
			 
		</p>
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.TITLE_DE" | translate }}
		</h6>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge_full" color="secondary">
				<input cFormControl 
					(change)="changeTitle($event, 'de')"
					style="margin-right: 8px;"
					id="exampleFormControlInput1" 
					type="text"
					value="{{selectedRecipe.title.de}}"
				/>
			</c-badge> 
		</p>
		
		<div cCardText class="urlHeaderDiv"> 
			<h6 cCardSubtitle class="urlHeader mb-2 text-medium-emphasis">
				{{ "RECIPES.TITLE_EN" | translate }}
			</h6>
			
			<button cButton (click)="translateRecipe()">
				{{ "RECIPES.TRANSLATE" | translate }}
			</button>
		</div>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge_full" color="secondary">
				<input cFormControl 
					(change)="changeTitle($event, 'en')"
					style="margin-right: 8px;"
					id="exampleFormControlInput1" 
					type="text"
					value="{{selectedRecipe.title.en}}"
				/>
			</c-badge> 
		</p>
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.CATEGORY" | translate }}
		</h6>
		<p class="flex_wrap" cCardText> 
			<c-badge class="ing_variant_badge" color="secondary">
				<select [(ngModel)]="selectedRecipe.category" aria-label="Default select example" cSelect>
					<option value="snack">{{ "RECIPES.UNITS.SNACK" | translate }}</option>
					<option value="salad">{{ "RECIPES.UNITS.SALAD" | translate }}</option>
					<option value="dips">{{ "RECIPES.UNITS.DIPS" | translate }}</option>
					<option value="soup">{{ "RECIPES.UNITS.SOUP" | translate }}</option>
					<option value="garnish">{{ "RECIPES.UNITS.GARNISH" | translate }}</option>
					<option value="starter">{{ "RECIPES.UNITS.STARTER" | translate }}</option>
					<option value="maindish">{{ "RECIPES.UNITS.MAINDISH" | translate }}</option>
					<option value="dessert">{{ "RECIPES.UNITS.DESSERT" | translate }}</option>
					<option value="drink">{{ "RECIPES.UNITS.DRINK" | translate }}</option>
					<option value="breakfast">{{ "RECIPES.UNITS.BREAKFAST" | translate }}</option>
					<option value="cake">{{ "RECIPES.UNITS.CAKE" | translate }}</option>
					<option value="bread">{{ "RECIPES.UNITS.BREAD" | translate }}</option>
					<option value="sweets">{{ "RECIPES.UNITS.SWEETS" | translate }}</option>
				</select>
			</c-badge> 
		</p>
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.DURATION_PREP" | translate }}
		</h6>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge" color="secondary">
				<input cFormControl 
					(change)="changeDuration($event, 'prep')"
					style="margin-right: 8px;"
					id="exampleFormControlInput1" 
					type="number"
					value="{{selectedRecipe.duration_prep}}"
				/>
			</c-badge> 
		</p>
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.DURATION_COOK" | translate }}
		</h6>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge" color="secondary">
				<input cFormControl 
					(change)="changeDuration($event, 'cook')"
					style="margin-right: 8px;"
					id="exampleFormControlInput1" 
					type="number"
					value="{{selectedRecipe.duration_cook}}"
				/>
			</c-badge> 
		</p>
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.DURATION_REST" | translate }}
		</h6>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge" color="secondary">
				<input cFormControl 
					(change)="changeDuration($event, 'rest')"
					style="margin-right: 8px;"
					id="exampleFormControlInput1" 
					type="number"
					value="{{selectedRecipe.duration_rest}}"
				/>
			</c-badge> 
		</p>
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.DURATION_TOTAL" | translate }}
		</h6>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge" color="secondary">
				<input cFormControl disabled 
					style="margin-right: 8px;"
					id="exampleFormControlInput1" 
					type="number"
					value="{{selectedRecipe.duration_total}}"
				/>
			</c-badge> 
		</p>
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.PORTIONS" | translate }}
		</h6>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge" color="secondary">
				<input cFormControl 
					(change)="changePortions($event)"
					style="margin-right: 8px;"
					id="exampleFormControlInput1" 
					type="number"
					value="{{selectedRecipe.portions}}"
				/>
			</c-badge> 
		</p> 
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.DIFFICULTY_LABEL" | translate }}
		</h6>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge" color="secondary">
				<select [(ngModel)]="selectedRecipe.difficulty" aria-label="Default select example" cSelect>
					<option value="0">{{ "RECIPES.DIFFICULTY.EASY" | translate }}</option>
					<option value="1">{{ "RECIPES.DIFFICULTY.MEDIUM" | translate }}</option>
					<option value="2">{{ "RECIPES.DIFFICULTY.HARD" | translate }}</option> 
				</select>
			</c-badge> 
		</p> 
		
		<p>
			<c-form-check class="restrictionsFormCheck">
			  <input class="restrictionsInput" [(ngModel)]="selectedRecipe.vegetarian" cFormCheckInput id="vegetarian" type="checkbox" />
			  <label cFormCheckLabel for="vegetarian">{{ "RECIPES.VEGETARIAN" | translate }}</label>
			</c-form-check>
			
			<c-form-check class="restrictionsFormCheck">
			  <input class="restrictionsInput" [(ngModel)]="selectedRecipe.vegan" cFormCheckInput id="vegan" type="checkbox" />
			  <label cFormCheckLabel for="vegan">{{ "RECIPES.VEGAN" | translate }}</label>
			</c-form-check>
		</p> 
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.DESCRIPTION_DE" | translate }}
		</h6>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge_full" color="secondary">
				<textarea  cFormControl 
					(change)="changeDescription($event, 'de')"
					style="margin-right: 8px;"
					#description_de 
					type="text"
					value="{{selectedRecipe.description.de}}" 
				></textarea>
			</c-badge> 
		</p>
		
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.DESCRIPTION_EN" | translate }}
		</h6>
		
		<p cCardText> 
			<c-badge class="ing_variant_badge_full" color="secondary">
				<textarea  cFormControl 
					(change)="changeDescription($event, 'en')"
					style="margin-right: 8px;"
					#description_en 
					type="text"
					value="{{selectedRecipe.description.en}}"
				></textarea>
			</c-badge> 
		</p>
		
		<div class="flex_center"> 
			<h6 cCardSubtitle class="text-medium-emphasis" 
				style="margin-right: 16px;">
				{{ "RECIPES.INGREDIENTS" | translate }}
			</h6> 
		
			<button cButton (click)="addIngredient()">
				<svg cIcon name="cilPlus" size="sm"></svg>
			</button>	
		</div>
		 
		<table [striped]="true" cTable>
			<thead>
				<tr>
					<th scope="col">{{ "RECIPES.ORDER" | translate }}</th>
					<th scope="col">{{ "RECIPES.NAME" | translate }}</th>
					<th scope="col">{{ "RECIPES.CATEGORY" | translate }}</th>
					<th scope="col">{{ "RECIPES.UNIT" | translate }}</th>  
					<th scope="col">{{ "RECIPES.VALUE" | translate }}</th> 
					<th scope="col">{{ "RECIPES.OPTIONAL" | translate }}</th> 
					<th scope="col"></th> 
				</tr>
			</thead>
			<tbody> 
				<tr *ngFor="let recipeIngredient of selectedRecipe.ingredients; let i = index">
					<th scope="col-2" >
						<div class="vcenter gap-2">
							<button cButton variant="ghost" (click)="pushUpOrder(i)" [disabled]="i == 0">
								<svg cIcon name="cilCaretTop" size="sm"></svg>
							</button>	
							<button cButton variant="ghost" (click)="pushDownOrder(i)" [disabled]="i == selectedRecipe.ingredients.length - 1">
								<svg cIcon name="cilCaretBottom" size="sm"></svg>
							</button>	
							{{recipeIngredient.order}}
						</div> 
					</th> 
					<th scope="col">
						<div class="vcenter">
							<img cImg align="start" height="32" src="assets/ingredients/{{ recipeIngredient.icon }}.png" width="32" style="padding: 4px;" /> 
							<select (focus)="markOldIngredient($event)" (change)="changeIngredient($event)" style="margin-left: 4px; line-height: 30px;" aria-label="Default select example" cSelect>
								<option *ngFor="let ingredient of ingredientsService.getIngredients() | async | ingredientsort" 
									[selected]="ingredient.id === recipeIngredient.name"  [value]="ingredient.id">{{ ingredient.names.de[0] }}</option> 
							</select> 
						</div>
					</th> 
					<th scope="col">  
						<input [(ngModel)]="recipeIngredient.category" cFormControl id="category" type="text" /> 
					</th> 
					<th scope="col"> 
							<select [(ngModel)]=" recipeIngredient.unit" aria-label="Default select example" cSelect>
								<option *ngFor="let unit of ingredientsService.getAllIngredientUnits() | async" 
									[selected]="unit.name === recipeIngredient.unit" [value]="unit.name">{{ "INGREDIENTS.UNITS."+unit.name.toUpperCase() | translate }}</option> 
							</select>
					</th> 
					<th scope="col">
						<input [(ngModel)]=" recipeIngredient.value" cFormControl id="category" type="number" />  
					</th>
					<th scope="col">
						<div class="hcenter gap-2">
							<input style="height: 1.75em; width: 1.75em;" [(ngModel)]=" recipeIngredient.optional"  cFormCheckInput id="optional"  type="checkbox" />  
						</div>
					</th> 
					<th scope="col">
						<button cButton variant="ghost" (click)="removeIngredient(recipeIngredient.name)">
							<svg cIcon name="cilTrash" size="sm"></svg>
						</button>
					</th> 
				</tr> 
			</tbody>
		</table>  
		  
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.AUTHOR" | translate }}
		</h6>  
 
		
		<p cCardText> 
			<c-badge class="ing_variant_badge" color="secondary">
				<input cFormControl  
					[(ngModel)]="selectedRecipe.author"
					style="margin-right: 8px;"
					id="exampleFormControlInput1" 
					type="text"
					value="{{selectedRecipe.author}}"
				/>
			</c-badge> 
		</p>
		 
		<h6 cCardSubtitle class="mb-2 text-medium-emphasis">
			{{ "RECIPES.AUTHOR_MAIL" | translate }}
		</h6>  	 
		
		<p cCardText> 
			<c-badge class="ing_variant_badge" color="secondary">
				<input cFormControl 
					[(ngModel)]="selectedRecipe.author_mail"
					style="margin-right: 8px;"
					id="exampleFormControlInput1" 
					type="text"
					value="{{selectedRecipe.author_mail}}"
				/>
			</c-badge> 
		</p>
		
		<p class="vcenter" style="justify-content: flex-start;">
			<button cButton (click)="updateRecipe()">
				{{ "RECIPES.UPDATE" | translate }}
			</button>
			
			<c-alert fade [(visible)]="alertShown" color="warning" class="insertion-alert d-flex align-items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
					class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
					<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982
						1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
				</svg>
				<div> {{ alertText }}</div>
			</c-alert>
		</p>
	</c-card-body>
</c-card>

<div >
	
</div>