<div class="container">
	<div class="tableOverviewDiv">
		<table id="name_occurances_table">
			<tr>
				<th style="width: 24vw;"><p class="col_panel">Name (de)</p></th>
				<th style="width: 24vw;"><p class="col_panel">Anzahl</p></th>
			</tr>
		</table>
		<table id="category_occurances_table">
			<tr>
				<th style="width: 24vw;"><p class="col_panel">Kategorie</p></th>
				<th style="width: 24vw;"><p class="col_panel">Anzahl</p></th>
			</tr>
		</table>
	</div>
	<div class="buttons"> 
		<a class="redBtn" routerLink="/recipe_insertion">Zu den Rezepten</a>
		<a class="redBtn" routerLink="/ingredient_insertion">Zu den Zutaten</a>
	</div>
</div>
