<form [formGroup]="searchForm" (ngSubmit)="triggerSearch()">
    <c-input-group class="col-6 mb-3">

        <input formControlName="searchInput"
            cFormControl
            placeholder="{{ 'SEARCH.PLACEHOLDER' | translate }}"
        />
        <button *ngIf="searchForm.get('searchInput')?.value != ''" color="danger" (click)="searchForm.get('searchInput')?.setValue(''); triggerSearch()" cButton id="button-addon2" type="button" variant="outline">
            <svg cIcon name="cilX" size="lg"></svg>    
        </button>
        <button (click)="triggerSearch()" cButton color="primary" id="button-addon2" type="button" variant="outline">
            <svg cIcon name="cilZoom" size="lg"></svg>    
        </button>
   </c-input-group>
</form>